div.Header {
    box-sizing: border-box; 
    background-color: white;
    min-height: 10vh;
    padding: 0 2rem; 

    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 

    z-index: 10; 
    position: absolute;
    top: 0;
    width: 100%;

    color: #202020;
    border-radius: 24px;

    -webkit-box-shadow: 0px 0px 12px 0px rgba(48,48,48,0.1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(48,48,48,0.1);
    box-shadow: 0px 0px 12px 0px rgba(48,48,48,0.1);

    h2.title { 
        padding-top: 0.5rem;

        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;

        display: flex;
        width: 100%;
        flex-direction: row; 
        align-items: center;
        justify-content: center;

        span {
            display: inline-block;
            padding: 0 1rem;
        }
    }
} 