body { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    // font-size: 62.5%;

    position: relative; 
    font-family: 'Montserrat', sans-serif !important;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;

    
} 
